{% extends 'base.html.twig' %}

{% block content %}
  <form id="operationsForm">
    <h2>Operations Records</h2>
    <div id="formRowsContainer">
      <!-- Dynamic rows will be added here -->
    </div>
    <button type="button" id="addRecordBtn">Add New Record</button>
    <button type="submit" id="saveRecordsBtn">Save All Records</button>
  </form>
{% endblock %}
